:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$accent-color: darkslateblue;
$cell-border: $accent-color 2px solid;
$section-cell-border-radius: 4px;

* {
  box-sizing: border-box;
  align-items: center;
}

h1 {
  text-align: center;
}

.result {
  position: relative;
  padding: 20px;
  border: $cell-border;
  border-radius: $section-cell-border-radius;
}

.spinner {
  display: inline-block;
  position: absolute;
  bottom: 7px;
  margin-left: 10px;

  &.small {
    bottom: 2px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border: #1976d2 2px solid;
  border-radius: $section-cell-border-radius;
  margin: auto;
  width: 304px;

  thead,
  tfoot {
    background-color: $accent-color;
    color: #fff;
  }

  tr {
    position: relative;
  }
}
.currency-converter-form {
  display: flex;
  align-self: center;
  border: solid 2px blue;
  border-radius: 4px;
  width: max-content;
  margin: 20px;
}
#currency-converter-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.result {
  border: solid 2px blue;
  margin: 20px;
}
span {
  margin: 20px;
}
